<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
    </head>
    <body>

        Please find below your alerts for <span th:text="${sendTS}"/>.<br><br>

        <div style="overflow-x:auto;">
            <table >
                <thead>
                <th>Description</th>
                <th>Source URL</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Alert Source</th>
                </thead>
                <tbody>
                <tr th:each="alrt: ${alerts}">
                    <td th:text="${alrt.description}">Description</td>
                    <td th:text="${alrt.url}">URL</td>
                    <td th:text="${alrt.startTime}">Start Time</td>
                    <td th:text="${alrt.endTime}">End Time</td>
                    <td th:text="${alrt.alertSource}">Alert Source</td>

                </tr>
                </tbody>
            </table>
        </div>

        <br><br>
        These alerts are sent based on your <a href="http://www.google.com">alert preferences</a>.<br><br>
        <span th:if="${senderName}">Regards,<br><span th:text="${senderName}"/></span>
    </body>
</html>